{
  "presets": ["next/babel"],
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".ts", ".tsx"],
      "root": ["./src"]
    }],
    ["styled-components", {"displayName": true, "ssr": true}]
  ]
}
